 <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="javascript:void(0)">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'posts:list' %}">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'books:list' %}">Books</a>
        </li>
        <li class="nav-item">
         <a class="nav-link" href="{% url 'authors:list' %}">Authors</a>
        </li>

      </ul>3
      {% if user.is_authenticated %}
      <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      {% else %}
      <a class="nav-link" href="{% url 'login' %}">Login</a>
      {% endif %}

      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <button class="btn btn-primary" type="button">Search</button>
      </form>
    </div>
  </div>
</nav>